{% extends 'core/index.html' %}


    
{% block contenido1 %}


<style>
    body {
        
        color: #000000; /* White text */
        
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    
    h2 {
        color: #008080; /* Medium Aquamarine Green for title */
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px; /* Adjust the font size as needed */
    }
    
    form {
        width: 300px;
        padding: 20px;
        border: 1px solid #006666; /* Darker Aquamarine Green border */
        border-radius: 8px;
        margin: 20px auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle box shadow */
    }
    
    input[type="submit"] {
            background-color: #008080; /* Medium Aquamarine Green */
            color: #fff; /* White text */
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
        }
        
        input[type="submit"]:hover {
            background-color: #006666; /* Darker Aquamarine Green on hover */
        }
        </style>
</head>



<body>
    <form action="{% url 'cliente:create-user' %}" method="POST">
        {% csrf_token %}
        <h2>Create User</h2>
        {{ myForm.as_p }}
        <input type="submit" value="Guardar">
    </form>
</body>

</html>

{% endblock contenido1 %}

{% block contenido2 %}
    
{% endblock contenido2 %}