{% load static %}

{% block style %}
    
{% endblock style %}

<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">
            <a href="#" target="_blank" class="social-icon"><img src= "{% static 'core/img/instalogo.png' %}" alt="Instagram" style="margin-right: 10px;" width="25" height="25"></a>
            <a href="#" target="_blank" class="social-icon"><img src= "{% static 'core/img/fblogo.png' %}" alt="Facebook" width="40" height="40"></a>
            <a href="#" target="_blank" class="social-icon"><img src="{% static 'core/img/wpplogo.png' %}" alt="WhatsApp" width="40" height="40"></a>
        </p>
        <p class="m-2 text-center text-white">Copyright &copy; Wellness App 2023</p>
    </div>
</footer>
