{% extends 'core/index.html' %}
{% load static %}



{% block contenido1 %}

    <style>
            

        .video-container {
            position: relative;
            width: 100%;
            height: 60vh;
            overflow: hidden;
        }

        video {
            width: 100%;
            height: auto;
            position: absolute;
            object-fit: cover;
        }

        .position-absolute {
            position: absolute;
        }

        .top-50 {
            top: 50%;
        }

        .start-50 {
            left: 50%;
        }

        .translate-middle {
            transform: translate(-50%, -50%);
        }
    </style>


    <header class="py-5 position-relative">
        <div class="video-container">
            <video autoplay muted loop id="myVideo">
                <source src="{% static 'core/img/waves_video.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="text-center my-5" style="position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);">
            <img class="img-fluid rounded-circle mb-4" src="{% static 'core/img/wellness_inicio.png' %}" alt="Profile Picture" width="600" height="">
            
            
        </div>
    </header>





        



        
    </header>
    <!-- Content section-->

    {{ message }}

    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    
                    <h2>Wisdom Verses</h2>
                    <p class="lead"><br>
                        
                        Fame or self: Which matters more?<br>
                        Self or wealth: Which is more precious?<br>
                        Gain or loss: Which is more painful?
                
                        He who is attached to things will suffer much.<br>
                        He who saves will suffer heavy loss.<br>
                        A contented man is never disappointed.<br>
                        He who knows when to stop does not find himself in trouble.<br>
                        He will stay forever safe.<br><br>
                        Tao Te Ching 44<br><br>
                        
                    </p>
                    <h4 class="mb-0">Embarking on a transformative journey guided by timeless principles can offer profound healing and renewal to the human experience. <br><br>As one delves into the ancient wisdom, they discover the art of effortless action, 
                        encouraging a harmonious flow with the natural rhythms of life. Simultaneously, the transformation extends to embracing gradual shifts in diet, recognizing food as a source of vitality and balance. <br><br>By adopting a perspective of 
                        simplicity and mindful consumption, individuals can reconnect with the innate wisdom of their bodies. Regular movement mixed with moments of stillness can be very beneficial. As one increasingly alignins with the natural patterns of day and night, 
                        seasons, and the cyclical nature of existence, one finds solace and rejuvenation. <br><br>The journey extends beyond the physical realm, encouraging a deep connection to nature, inspiring inner growth, and fostering a profound sense of peace and well-being. 
                        <br><br>Through the integration of these timeless principles into daily life, a transformative and holistic healing unfolds, offering a pathway to a more balanced, harmonious, and enlightened existence.</h4>
                </div>
            </div>
        </div>
    </section>
            


{% endblock contenido1 %}
    
    <div class="container mt-5">
        <div class="row">
            {% include 'core/cards.html' with titulo="Tarjeta 1"%}
            {% include 'core/cards.html' with titulo="Tarjeta 2"%}
            {% include 'core/cards.html' with titulo="Tarjeta 3"%}
            {% include 'core/cards.html' with titulo="Tarjeta 4"%}
            {% include 'core/cards.html' with titulo="Tarjeta 5"%}
            
            <!-- Add more cards as needed -->

        </div>
    </div>

{% block contenido2 %}


    
{% endblock contenido2 %}